.flexBox {
	display: flex;
	flex-direction: row;
	padding: 0 16px;
}
.flexBox:nth-of-type(1) {
	padding: 16px 16px 0 16px;
}
.flexBox .contentbox01:not(1) {
	margin-bottom: 16px;
}
.contentbox01 {
	width: 100%;
}
.circleLine {
	display: flex;
	flex-direction: column;
	margin-right: 28px;
}
.circle {
	width: 16px;
	height: 16px;
	background-color: #fff;
	border-radius: 50%;
	text-shadow: 0 0 10px #fff;
}
.line {
	width: 16px;
	height: 100%;
	padding: 0 6px;
}
.line div {
	width: 100%;
	height: 100%;
	background-color: #eee;
	opacity: 0.2;
}
.contentbox {
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	color: #000;
	padding: 16px;
	margin-bottom: 52px;
}

.contentName {
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	margin-bottom: 4px !important;
}
.contentDate {
	font-style: lighter;
	font-weight: 500;
	font-size: 16px !important;
	color: #eee;
	margin-bottom: 12px !important;
}
.contentTXT {
	width: 100%;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}
.projeectTXT {
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #ddd;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.date {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 701) and (max-width: 1224px) {
	.contentbox {
		padding: 1rem;
		margin-bottom: 32px;
	}
	.projeectTXT {
		font-size: 18px;
	}
	.date {
		font-size: 14px;
		color: rgba(0, 0, 0, 0.8);
	}
}
@media screen and (max-width: 700px) {
	.contentbox {
		padding: 1rem 1rem 1rem 1rem;
		margin-bottom: 32px;
		font-size: 14px;
	}
	.projeectTXT {
		font-size: 16px;
	}
	.date {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.8);
	}
}
